@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}
h2 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 4px;
}
/* 
.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
} */


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 80%;
 }

.form input,
.form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.form textarea {
  min-height: 120px;
  resize: none;
}

.form button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #25d366;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  width: 20%;
}

.form button:hover {
  background-color: #1ebe5d;
}
.success {
  color: #25d366;
  font-weight: 600;
  margin-top: 10px;
}